<!DOCTYPE html>
<html>
    <head>
        <title> Login page </title>
        <link rel="stylesheet" type="text/css" href="E:/Folder Kuliah/MAPEL KULIAH/Semester 4/SCPK/Tugas Besar Web/style.css">
    </head>
    <body>
        <div class="login-box">
            <img src="avatar.png" class="avatar">
            <h1>Selamat Datang !</h1> 
            <form>
                <p>Username</p>
                <input type="text" name="Username" placeholder="Masukkan username">
                <p>Password</p>
                <input type="password" name="Password" placeholder="Masukkan password">
                <input type="submit" name="submit" value="Login">
                <a href="#">Lupa password ?</a>
            </form>
        </div>
        <nav>
            <label class="logo">Si-Zigzak</label>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Kontak</a></li>
                <li><a href="#">Daftar</a></li>
                <li><a class="active" href="#">Login</a></li>
            </ul>
        </nav>
    </body>
</html>